#footer{
    background-color: #2E2F42;
}
.footer-logo{
    color:#4D5AE5;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03;
    font-style: bold; 
    text-transform: uppercase;
    text-decoration: none;
}
.accent-footer{
    color:#F4F4FD;
}
#footer p{
    color:#F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02;
    font-style: normal; 
}