.footer{
    background-color: #2E2F42;
}
.footer-logo{
    color:#4D5AE5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    font-style: bold; 
    text-transform: uppercase;
    text-decoration: none;
}
.accent-footer{
    color:#F4F4FD;
}
.footer-text{
    color:#F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal; 
}