 .logo{
    color:#4D5AE5;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-style: bold;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
 }
 .accent{
    color:#2E2F42;
 }
 .menu a{
    color:#2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    text-decoration: none;
 }
 .contacts a{
    color:#434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    text-decoration: none;
}
.portfolio-link:hover{
    color: #404BBF;
}
.portfolio-link:focus {
    color: #404BBF;
}

.features-link:hover{
    color: #404BBF;
}
.features-link:focus {
    color: #404BBF;
}

.team-link:hover{
    color: #404BBF;
}
.team-link:focus {
    color: #404BBF;
}


.contacts-link:hover{
    color: #404BBF;
}
.contacts-link:focus {
    color: #404BBF;
}