#hero {
    background-color:#2E2F42;
}
.hero-title{
    color:#FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    font-style: bold;
    text-align: center;
}
.button{
    color:#FFFFFF;
    background-color:#4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    font-style: medium;
    text-align: center;
}
button:hover:focus{
    color: #404BBF;
}